// variables

$breakpoint-medium : 767px;
$breakpoint-large : 1024px;
$breakpoint-xlarge: 1500px;
//color variables
$sand: #f4d5b0;
$duskyPurple: #8166a3;
$deepPurple: #695384;
$deepbluebell :#314282;
$fog: #e8e9ed;
$soupyFog: #f6f4f7;
$limeGreen:#07b710;
$font:'Roboto', sans-serif;
