// Style header and Navigation.

//====== header  =======
//style icons in header

//placerholder for size of icons 
/*header{
    position:fixed;
    top:0;
    z-index:2000;
}*/
%icons{
    height:30px;
    width:30px;
    
    margin:18px 20px 10px 20px;
    /*@include mediaQry(medium){
    margin-right:40px;
    }*/
}
.smIcons{
    @extend %icons;
   // padding:.1em;
}
.smPhotos{
    height:40px;
    width:40px;
    display:inline-block;
    border-radius:50%;
    
    margin:10px 10px 0px 10px
}
#burger path{
    fill:white;
}
//li:last-of-type
/*#user{
    @include mediaQry(medium){
    border-left: 1px solid #314282;
    }
}*/

#pipe{
    //content: "\007C";
    height:2em;
    display:inline-block;
    border-left:$deepPurple;
    width:2px;
}

// for pop up
#bell{
    position: relative;
    cursor:pointer;
}

.popUptext {
    visibility: hidden;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    border-style: solid;
    border-color:$deepPurple;
}

