// navigation
.navSvg{
    //height: 30px;
    width:30px;
    fill: #e8e9ed;   
    
}

#burger{
    height: 20px;
    width:20px;
    z-index:500;
    margin-left: 20px;

   @include mediaQry(medium){
        display:none;
    }
}
.sideNav{
    width:100vw;
    height:0vh;
    background-color: #695384;
    z-index: 1000;
    top: 0;
    overflow-y: hidden;
    transition: 0.5s;
    @include mediaQry(medium){
        width:60px;
        height:100%;
    }
}
.sideNav a{
    text-decoration:none;
    transition : .03s;
}
.sideNav li:hover{
border-left: 2px solid #07b710;
}
.close-icon{
  display:block;
  box-sizing:border-box;
  width:25px;
  height:25px;
  border-width:2px;
  border-style: #e8e9ed;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:#8166a3;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  @include mediaQry(medium){
      display:none;
  }
}
