// base styles
 body{
  width:  100vw;
}

* {
    box-sizing: border-box;
}
//CSS GRID SETUP
.maincontainer{
display:grid;
height:100vh;
width:100vw;
//grid-template-columns: minmax(0px,60px) 1fr;
grid-template-columns: 1fr;

//grid-template-rows: calc(1fr -20px);
//grid-gap:10px;
grid-template-areas: 
    "header "
    "nav"
   
    "main";
    @include mediaQry(medium){
        grid-template-columns: 60px 1fr;
        grid-template-rows: 1fr;
        

        grid-template-areas:
        "header header"
        "nav main";
    
        
    }
}



main{
    grid-area:main;
background-color:$soupyFog;
width:100vw;
// height:200%;
@include mediaQry(medium){
    width:92vw;

}
@include mediaQry(large){
 width: 94vw;
//  height:150%;

}
@include mediaQry(xlarge){
    width: 97vw;
    // height:150%;
 
}
}

nav{
    grid-area:nav;
}

//wrapper for flexbox
.wrapper{
    display:flex;
    flex-direction:row;
    //justify-content:center;
    //align-items:center;
    //width:100vw;
    @include mediaQry(medium){
        flex-direction:row;
        justify-content: space-between;
    }
}
 .co{
     flex-direction:row;
     justify-content: flex-start;

     display:inline;
    @include mediaQry(medium){
     justify-content:flex-end;
 }

}
.logo{
    font-weight:200;
    margin-right:70px;
    //font-size:30px;
}
#member{
display:inline-block;
}
.navWrap{
    display:flex;
}
.wrapHead{
    display:flex;
    justify-content:flex-end;
    @include mediaQry(medium){
        margin-top:-30px;
    }
}
#pics{
align-items:flex-start;
}
header{
    grid-area: header;
    background-color: $duskyPurple;
    //display:flex;
    
}
ul{
    display:flex;
    list-style-type: none;
    margin:0;
    padding:10px;
    margin-top:0;
    text-align:center;
    //background-color: $duskyPurple;
  }
 header{
     width:100vw;
     padding-top: 10px;
     padding-left:20px;

 } 
header,ul, li{
    display:block;
    flex-direction: row;
    display:inline-block;

    
    //justify-content:center;
    margin:auto;
    @include mediaQry(medium){
        display:inline-block;
        flex-direction:row;    
        margin:0;
        align-content:center;
        //padding: .5em,0.1em,1em,0.1em;
    }
}  
ul,li{
    padding:.1em 1em .5em .5em;
    @include mediaQry(medium){
    padding: .5em 0.1em 1em 0.1em;
    }
}
/*ul:first-child{
margin-right:10.5em;
}*/
h1{
    font-size:30px;
    display:inline;
    font-family: 'Open Sans', sans-serif;
    //font-size: 2.5em;
    color:$fog;
   // margin-top:0;
    //margin-bottom:0;
    @include mediaQry(medium) {
        //margin-right: 9.5em;
        margin-right:auto;
    }
    @include mediaQry(large) {
        //margin-right: 16em;
    }
}
h3{
    font-family: $font;
    justify-content:center;
    display:inline-block;
    margin-right: 1.5em;

}
p,
h2{
    font-family: $font;
}

.alert{
    width: 92vw;
    height: .5%;
    background-color: $deepPurple;
    color: $fog;
}
#closeAlert{
    margin-left: 20px;
}
/*ul.firstChild{
    padding-right:3em;
}*/
/*img{
    float: left;
    @include mediaQry(medium){
        
    }
}*/

.container{
    display: flex;
    flex-direction: row;
    background-color: $soupyFog;

}






